body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 88vh;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .map {
    height: 83vh;
  }
}

.marker {
  cursor: pointer;
}

.fire-marker-icon {
  font-size: 2rem;
  color: #ff9501;
  stroke: black;
}

.fire-marker-icon:hover {
  color: hsl(35, 100%, 76%);
}

.storm-marker-icon {
  font-size: 2.5rem;
  color: blue;
  
}

.storm-marker-icon:hover {
  color: rgb(84, 84, 253);  
}

.volcano-marker-icon {
  font-size: 2.5rem;
  color: #e90432; 
  stroke-width: .8px !important;
  stroke: black;
}

.volcano-marker-icon:hover {
  color: #ff879f; 
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -50px;
}

.info-box {
  display: flex;
  position: absolute;
  top: 50px;
  left: 50px;
  max-height: 260px;
  width: 30%;
  /* padding: 20px; */
  /* background-color: rgb(255, 255, 255); */
  background-color: #062f4f;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  overflow: hidden;
} 

.info-box div {
  width: 50%;
  /* padding: 10px;s */
  overflow: hidden;
  /* margin: 10px; */
}

.info-box div img { 
  /* background-size: cover; */
  position: absolute;
  top: -50px;
  width: 75%;
  /* left: 100px; */
}

.info-box ul {
  list-style-type: none;
  padding: 0;
}

.info-box li {
  padding: 5px 0;

}

.event-detail {
  padding: 10px 15px;
}

.event-detail button {
  vertical-align: middle;
  cursor: pointer;
  background-color: #00b947; 
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.event-detail button:hover {
  background-color: #019339;
  color: rgb(216, 216, 216);

}

.close-event-detail {
  cursor: pointer;
}

.close-event-detail:hover {
  color:#e02342;
}

.button-icon {
  margin-right: 10px;
  font-size: 1.25em;
  vertical-align: bottom;
}

.event-detail h2 {
  text-align: center;
  margin: 0;
}

.footer {
  padding: 10px;
  background-color: #062f4f;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit; 
}

.footer h1 {
  color: white;
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer h3 {
  color: white;
  font-size: 20;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nasa-icon {
  color: #e02342;
  font-size: 4rem;
  display: block;
  margin: 0 auto;
}


